<!DOCTYPE html>
<html>

<head>
    <title>
        Expense
    </title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="form-container">
        <h1>
            {{title}}
        </h1>

        <form method="POST">
            {{form.hidden_tag()}}

            <label>
                Title
            </label>

            {{form.title()}}

            <label>
                Amount
            </label>

            {{form.amount()}}

            <label>
                Category
            </label>

            {{form.category()}}

            <label>
                Date
            </label>

            {{form.date()}}
            {{form.submit(class="save")}}

        </form>
    </div>
</body>

</html>
